{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{dia.title}}</title>
    {% bootstrap_css %}

</head>
<body>
    <h1>django body</h1>


    {% if messages %}
        {% for msg in messages %}
            <li>
            {{ msg.tags }}
            {#success등의 테그#}
            {{ msg }}
            </li>
        {% endfor %}
    {% endif %}

{% block content %}{% endblock %}

<hr/>
&copy; 2022. kosclid

    {% bootstrap_javascript %}

</body>
</html>